@model IEnumerable<MVC.ViewModels.TagVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Tags</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopicCount)
                </td>
                <td>
                    <a asp-controller="Tag" asp-action="Edit" class="btn btn-sm btn-outline-primary" asp-route-id="@item.Id">Edit</a>
                    <a asp-controller="Tag" asp-action="Details" class="btn btn-sm btn-outline-primary" asp-route-id="@item.Id">Details</a>
                    <a asp-controller="Tag" asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
